.footer {
  background-color: var(--dark-clr);
  padding: 3em 0;
}

.footer h1 {
  font-family: var(--brand-font-family);
  color: var(--brand-clr);
  font-weight: 400;
  font-size: 2.2rem;
}

.footer > div{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:3em;
}

.footer-icons a{
  margin:0 0.5em;
}

.footer-icon{
  width:2em;
  height:2em;
  fill: var(--brand-clr);
}

.footer-icon:hover{
  fill: var(--light-brand-clr);
  transition: fill 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
