@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;600&family=Roboto+Mono&display=swap');

:root{
  --brand-clr: #d8c684;
  --dark-clr: #171614;
  --dark-sec-clr: #1B1C1A;
  --light-brand-clr: #e8ddb5;
  --text-clr: #faf7ed;
  --success-clr: #00E67D;
  --error-clr: #d8323e;
  --error-light-color: #f7d6d8;
  --brand-font-family: 'Great Vibes', cursive;
  --body-font-family: 'Poppins', sans-serif;
  font-size:1rem;
} 

/* GENERAL AND RESETS */

*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: var(--dark-sec-clr);
  font-family: var(--body-font-family);
  color:var(--text-clr);
  font-weight:300;
}

a{
  text-decoration: none;
}

p{
  line-height: 2;
}

ul{
  list-style-type: none;
}

/* TYPOGRAPHY */
h2, h3 {
  color: var(--brand-clr);
  font-family: var(--brand-font-family);
  font-size:2.5rem;
  font-weight: 300;
  width:fit-content;
  border-bottom:1px solid var(--brand-clr);
  margin-bottom:1em;
  margin:0 auto;
}

h3 {
  font-size:2rem;
  border:none;
  margin-top:2em;
}




/* UTILS */

.container{
  max-width:1100px;
  padding:0 1em;
  margin:0 auto;
}

.centered{
  text-align:center;
  margin:0 auto;
  padding:2em 0;
}

.centered-0m{
  text-align:center;
  margin:0 auto;
}

.error {
  color: var(--error-clr);
  font-weight: 600;
  text-align: center;
}

.flex-between {
  display:flex;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.grid{
  display:grid;
}

.btn{
  display: inline-block;
  border:0;
  outline:0;
  padding:0.7em 1.5em;
  border-radius:0.4em;
  font-weight:600;
  cursor: pointer;
}

.btn-primary{
  background-color:var(--brand-clr);
  color: var(--dark-clr);
  transition: background 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--light-brand-clr);
  transition: background 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* custom scrollbar */
::-webkit-scrollbar{
  width:0.85em;
}

::-webkit-scrollbar-track{
  background-color: #efe8ce;
}

::-webkit-scrollbar-thumb{
  background-color: var(--brand-clr);
}

::-webkit-scrollbar-thumb:hover{
  background-color: #c2b277;
}

::-webkit-scrollbar-button{
  background-color:var(--brand-clr);
  height:5px;
}

/* firefox */
@supports(scrollbar-color: var(--brand-clr) #efe8ce ){
  *{
    scrollbar-color: var(--brand-clr) #efe8ce;
  }
}

@media(max-width: 560px){
  :root{
    font-size:0.875rem;
  }
}

@media(min-width: 768px){
  .container {
    padding: 0 2em;
  }

}