.overlay{
  position: fixed;
  inset:0;
  background-color: rgba(0,0,0,0.75);
  z-index:100;
  display:grid;
  place-items: center;
}


.modal{
  display:grid;
  background:var(--light-brand-clr);
  color: var(--dark-clr);
  padding:3em 1em 2em 1em;
  border-radius: 1em;
  width:90%;
  max-width: 800px;
  max-height:80vh;
  overflow-y: auto;
}


@media(min-width:768px){
  .modal{
    padding:3em 2em 2em 2em;
  }
}
